{% extends "recipe/recipe_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags %}

{% block meta_title %}{{ recipe.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for recipe as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ recipe.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable recipe.title %}{{ recipe.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ recipe.title }}</li>
{% endblock %}

{% block main %}

{% block recipe_detail_postedby %}
{% editable recipe.publish_date %}
<h6>
    {% trans "Posted by" %}:
    {% with recipe.user as author %}
    <a href="{% url "recipe_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% blocktrans with sometime=recipe.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}
{% block recipe_detail_commentlink %}
<p>
    {% if recipe.allow_comments %}
        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
            (<a href="{{ recipe.get_absolute_url }}#disqus_thread"
                data-disqus-identifier="{% disqus_id_for recipe %}">{% spaceless %}
                {% trans "Comments" %}
            {% endspaceless %}</a>)
        {% else %}(<a href="#comments">{% spaceless %}
            {% blocktrans count recipe.comments_count as comments_count %}1 comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
            {% endspaceless %}</a>)
        {% endif %}
    {% endif %}
</p>
{% endblock %}

{% block recipe_detail_featured_image %}
{% if settings.BLOG_USE_FEATURED_IMAGE and recipe.featured_image %}
<p><img src="{{ MEDIA_URL }}{% thumbnail recipe.featured_image 600 0 %}"></p>
{% endif %}
{% endblock %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% block recipe_detail_content %}
{% editable recipe.content %}
{{ recipe.content|richtext_filter|safe }}
{% endeditable %}
{% endblock %}

{% block recipe_detail_keywords %}
{% keywords_for recipe as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "recipe_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

{% rating_for recipe %}

{% block recipe_detail_sharebuttons %}
{% set_short_url_for recipe %}
<a class="btn small primary share-twitter" target="_blank" href="http://twitter.com/home?status={{ recipe.short_url|urlencode }}%20{{ recipe.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn small primary share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ recipe.title|urlencode }}">{% trans "Share on Facebook" %}</a>
{% endblock %}

{% block recipe_previous_next %}
<ul class="pager">
{% with recipe.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with recipe.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul>
{% endblock %}

{% block recipe_detail_related_posts %}
{% if recipe.related_posts.all %}
<div id="related-posts">
<h3>{% trans 'Related posts' %}</h3>
<ul class="unstyled">
{% for post in recipe.related_posts.all %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}

{% block recipe_detail_comments %}
{% if recipe.allow_comments %}{% comments_for recipe %}{% endif %}
{% endblock %}

{% endblock %}
